.lc-content {
  background-color: #ebf4ff !important;
  border-radius: 4px;
  transition: width ease 0.3s;
}
.lc-editor-container {
  height: calc(100% - 3.5rem);
  padding: 8px;
  margin-top: 8px;
  overflow: hidden auto;
}
.lc-content-action {
  background-color: #fff !important;
  border: #ebf4ff solid 8px;
  border-radius: 4px;
  transition: width ease 0.3s;
  margin-left: 6px !important;
  box-shadow: none !important;
}
