.lc-item {
  padding: 4px;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px dashed rgb(156, 163, 175);
  pointer-events: all;
  position: relative;
  transition: all 0.3s;
  margin-bottom: 5px;
  vertical-align: top;
  :global {
    .arco-space-item {
      align-self: start;
    }
  }
  &:hover {
    border: 1px dashed rgb(var(--primary-6));
  }
  .lc-item-action {
    color: #919eab;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
  &.lc-item__inline {
    display: inline-block;
  }
  &.lc-item__active {
    border: 1px solid rgb(60, 126, 255);
    background-color: rgb(190, 218, 255);
  }
  &.lc-item__dragging {
    opacity: 0.8;
    filter: blur(2px);
  }
}
.lc-item__container {
  min-height: 80px;
  min-width: 130px;
  position: relative;
  padding-bottom: 25px;
  .lc-item-tip {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    color: #9ca3af;
  }
}
.lc-item-driver {
  position: relative;
}
.lc-item-driver__vertical {
  margin: 0 5px !important;
  border-left: 4px solid rgb(var(--primary-6)) !important;
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: -9px;
    top: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid rgb(var(--primary-6));
  }
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: -9px;
    bottom: 0;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid rgb(var(--primary-6));
  }
}
.lc-item-driver__horizontal {
  margin: 5px 0 8px 0 !important;
  border-bottom: 4px solid rgb(var(--primary-6)) !important;
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid rgb(var(--primary-6));
  }
  &::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: -5px;
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid rgb(var(--primary-6));
  }
}
