.lc-active {
  border: 1px solid #00a8ff;
  background-color: #c0dafa;
}
.lc-move {
  background-color: rgb(252, 209, 161);
}

.lc-child-warp {
  padding: 4px;
  margin: 2px;
  box-sizing: border-box;
  border: 1px dashed transparent;
  cursor: pointer;
  border: 1px dashed rgb(156, 163, 175);
  pointer-events: all;
  position: relative;
  &:hover {
    border-color: #00a8ff;
  }
  .lc-child-action {
    background-color: rgb(var(--primary-6));
    color: #fff;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
}
