.arco-layout-sider-children {
  overflow-x: hidden;
  overflow-y: auto;
}
.arco-input {
  &:-webkit-autofill {
    background-color: initial !important;
    color: var(--color-text-1) !important;
    // 过渡
    transition: all 50000s ease-in-out 0s;
  }
}
.react-json-view {
  font-family: Titillium Web, PingFang SC, Hiragino Sans GB, "Microsoft YaHei",
    Helvetica Neue, Helvetica, Arial, sans-serif !important;
  background-color: initial !important;
}
