.arco-layout-sider-children {
  overflow-x: hidden;
  overflow-y: auto;
}

.jv-container {
  &.jv-light {
    background: inherit;
  }
  .jv-code {
    padding: 30px 20px 0 20px;
    &.open {
      padding-bottom: 0;
    }
  }
}
